/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar{
  background-color:#61a3f4a1;
  border-radius: 8px;
  padding: 10px;
  height: 210px;
  height: 210px;
  text-shadow: 0px 3px 6px #fb4c4c8c;

}
.title{
  font-family:'Permanent Marker', cursive;
  font-size: 60px;
  font-weight: bold;
    text-shadow: 0px 3px 6px #fb4c4c8c;
}

li img {
  width: 100%;
  height: 100%;

}

ul {
  list-style-type: none;
  text-align: center;
}

h1{
  text-align: center;
}

.individual{
  text-align: right;
  font-size: 18px;
  padding-bottom: 5px;
  position: relative;
  top: -128px;
  z-index: -1;
}
body{
  // background-image: url(eprint.png);
  background-color: #7f79795e;
}
footer{
  text-align: center;
  font-size: 16px;
}
.signin, .signup{
  font-family:'Permanent Marker', cursive;
  text-align: right;
}

a{
  padding-left: 5px;
  font-family:'Permanent Marker', cursive;
  text-decoration: none;
}

p{
  text-align: center;
}
.postform{
  text-align: center;
}

.flickr li{
  display: inline-flex;
  margin: auto;
}
a:hover {
  background-color: inherit
}
a.large-hover {
  display:inline-block;
}
.large-hover {
  transition: .3s all ease-in-out;
}
.large-hover:hover {
  transform: scale(1.2);
}

.edButtons{
  text-align: center;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

label{
  text-align: center;
  padding: 5px;
  font-family: 'Permanent Marker', cursive;
  color: #df5753;
  font-size: 17px;
}
input#post_avatar{
  margin-right: -90px;
  padding: 4px;

}
.row {
  display: flex;
  flex-flow: row nowrap;
}

.userSign{
  z-index: 1;
  position: relative;
  top: -282px;
  left: 70%;
}
