// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-block {
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: #efefef;
  }
