// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



h1{
  padding-top: 5px;
  font-family:'Permanent Marker', cursive;
  font-size: 26px;
}

.profile-indi {
  text-align: center;
  font-family:'Permanent Marker', cursive;
  font-size: 26px;

}
.profile-indi img{
  border-radius: 25%;
  width: 100px;
  height: 100px;
  padding: 10px
}

img{
  border-radius: 25%;
  width: 200px;
  height: 200px;
}

.individual img{
  border-radius: 25%;
  width: 100px;
  height: 100px;
  padding: 10px;
}
