// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



h1{
  font-family:'Permanent Marker', cursive;
  font-size: 26px;
}

.profile-indi{
  text-align: center;
  font-family:'Permanent Marker', cursive;
  font-size: 26px;
}
